body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
}

.login-container h2 {
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input, .login-container button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    color: white;
    padding: 8px;
}

.blog-photo {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.blog-post {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 600px;
}

.comments-section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 600px;
}

.comment-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

.comment-actions {
    display: flex;
    align-items: center;
}

.comment-actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.comment-actions i {
    font-size: 20px;
    color: #007BFF;
}

.comment-actions span {
    margin-left: 5px;
}

textarea {
    width: 95%;
    height: 60px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.btn-logout {
    background: red;
}

.btn-logout:hover {
    background: darkred;
}
